.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
 
  
  
  .home-header {
    padding-top: 80px !important;
  }
  
  .home-section {
    position: relative;
    z-index: -1;
    /* background-image: var(--image-gradient), url(./Assets/home-bg.jpg); */
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 15px !important;
    padding-top: 30px !important;
  }
  
  .home-content {
    padding: 9rem 0 2rem !important;
    color: whitesmoke;
    text-align: left;
  }

  
  .heading {
    font-size: 2.4em !important;
    padding-left: 50px !important;
  }
  
  .heading-name {
    font-size: 2.5em !important;
    padding-left: 45px !important;
  }
  
  .img-fluid1{
     border-radius: 50%;
     background: #180808;
     width: 25rem;
      height: 25rem;
  }

  @media (max-width: 900px) {
    .img-fluid1 {
      margin-top: 20px;
      width: 25rem;
      height: 25rem;
    }
  }


  @media (max-width: 560px) {
    .img-fluid1 {
      margin-top: 20px;
      width: 19rem;
      height: 19rem;
    }
  }
  .main-name {
    color: #ef3636;
  }
  
  .Typewriter__wrapper {
    font-size: 2.2em !important;
    color: #ef3636 !important;
    font-weight: 600 !important;
  }
  .Typewriter__cursor {
    font-size: 2.4em !important;
    color: #ef3636 !important;
  }
  
  @media (max-width: 900px) {
    .Typewriter__wrapper {
      font-size: 1.4em !important;
      font-weight: 500 !important;
      position: absolute !important;
    }
    .Typewriter__cursor {
      display: none !important;
    }
  }
  
  .myAvtar {
    justify-content: center !important;
    padding-top: 9em !important;
  }
  
  @media (max-width: 900px) {
    .myAvtar {
      padding-top: 2em !important;
      padding-bottom: 2em !important;
    }
  }
  
  .home-about-section {
    position: relative;
    padding-bottom: 70px !important;
    padding-top: 70px !important;
  }
  
  .home-about-description {
    color: white !important;
    padding-top: 100px !important;
    padding-bottom: 20px !important;
    text-align: center;
  }
  
  .home-about-body {
    padding-top: 5px;
    font-size: 1.2em !important;
    text-align: left;
  }
  
  .home-about-social {
    text-align: center !important;
    padding-top: 25px;
    color: white !important;
  }
  
  .home-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
  }
  
  .home-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important;
    font-size: 1.2em !important;
    line-height: 2em !important;
    background: rgba(255, 255, 255, 0.972) !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
  }
  
  .home-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ef3636;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }
  
  .home-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ef3636;
  }
  
  .home-social-icons:hover {
    color: #ef3636;
    box-shadow: 0 0 5px #ef3636;
    text-shadow: 0 0 2px #ef3636;
  }
  
  .social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .icon-colour {
    color: #ef3636 !important;
  }



.tab-titles{
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 6rem;
}

@media (max-width: 900px) {
  .tab-titles {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 2rem;
  }
}


.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

@media (max-width: 900px) {
  .tab-links {
     margin-right: 40px;
  }
}


@media (max-width: 560px) {
  .tab-links {
    margin-right: 30px;
  }
  .tab-titles {

    margin-left: 1rem;
  }
}



.tab-links::after{
  content: '';
  width: 0;
  height: 4px;
  background: #ef3636;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
  border-radius: 8px;
}

.tab-links.active-link::after{
  width: 60%;
}

.tab-contents {
  margin-top: -35px;
    margin-left: 6rem;
   /* display: flex; */
}

@media (max-width: 900px) {
  .tab-contents {
    margin-left: 1rem;
  }
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: flex;
}

.exp-data{
  text-align: justify;
}