.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  --section-background-color: linear-gradient(
    to bottom left,
    #05020b 
  );

  --image-gradient: linear-gradient(
    to bottom left,
    #05020b 
  );

  --imp-text-color: #be2020;
}

.orange {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #05020b;
  /* background-image: url(./Assets/pre.svg); */
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #05020b;
}

::-webkit-scrollbar-thumb {
  background: rgba(236, 25, 18, 0.959);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(236, 25, 18, 0.959);
  border-radius: 12px;
}
