/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"); */
body {
  margin: 0;

  font-family: 'Source Serif Pro', serif !important;
  /* font-family: "Gumela" !important; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-image: linear-gradient(to left, rgb(5, 17, 20), rgb(20 15 35));
}